/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

body {
  font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
  color: #39454b;
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 300;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.3em;
  letter-spacing: -0.05em;
}

h2 {
  font-size: 1.5rem;
  letter-spacing: -0.05em;
  font-weight: 900;
  text-transform: uppercase;
}

h3 {
  font-size: 1.2rem;
  letter-spacing: -0.05em;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  line-height: 1.5em;
  letter-spacing: 0.04em;
}

header .logo {
  font-weight: 900;
  font-size: 0.8rem;
  line-height: 1.2rem;
  letter-spacing: -0.05em;
}

main #home {
  color: white;
}

nav {
  position: fixed;
  z-index: 100;
  width: 100%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: solid 2px rgba(57, 69, 75, 0.7);
  padding: 0 10px;
}

nav #nav-icon {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 30px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
}

nav .logo {
  padding: 1rem 2rem 1rem 0;
}

nav .nav-menu {
  display: none;
  width: 100%;
}

nav .nav-menu li {
  padding: 10px 0;
  cursor: pointer;
  text-align: center;
}

nav .nav-menu li:hover {
  background-color: rgba(57, 69, 75, 0.7);
  color: rgba(255, 255, 255, 0.95);
}

nav .display-on {
  display: block;
}

@media only screen and (min-width: 768px) {
  nav .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  nav .logo {
    padding: 0.6rem 1.5rem 0.8rem 0;
  }
  nav .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav .nav-item {
    padding: 15px 10px !important;
    line-height: 50px;
  }
  nav #nav-icon {
    display: none;
  }
}

#contact {
  background-color: #dfdfdf;
  height: 100vh;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
}

#contact .contact-container {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#contact h2 {
  padding-bottom: 30px;
}

#contact p {
  max-width: 80%;
  text-align: center;
}

#contact .contact-form {
  width: 80%;
  max-width: 900px;
  height: 100%;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#contact .contact-form input,
#contact .contact-form textarea {
  padding: 5px;
  border: 2px solid #dfdfdf;
  border-radius: 5px;
}

#contact .contact-form input:focus,
#contact .contact-form textarea:focus {
  border: 3px solid #a1a1a1;
  outline: none;
}

#contact .contact-form .form-name-mail-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contact .contact-form .form-name-mail-container div {
  width: 45%;
}

#contact .contact-form .form-name-mail-container input {
  width: 100%;
}

#contact .contact-form .form-msg {
  height: 80%;
}

#contact .contact-form .form-msg textarea {
  width: 100%;
  height: 80%;
}

footer {
  padding: 30px 20px;
  background-color: #39454b;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #B9B9BA;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

footer img {
  height: 1.2rem;
  width: 1.2rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

footer img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.event-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: .5rem;
  justify-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 550px) {
  .event-grid {
    display: block;
  }
}

.splide {
  height: 100vh;
  background-color: #dfdfdf;
}

.splide img {
  position: absolute;
  top: 50%;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
}

.btn-form {
  background-color: #98c593;
  color: white;
  font-family: inherit;
  font-size: inherit;
  line-height: 3rem;
  border-radius: 2rem;
  width: 7rem;
  margin: 0 auto;
  border: none;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.btn-form:hover {
  background-color: #a9cea4;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-form:active {
  background-color: #71926e;
  -webkit-transform: none;
          transform: none;
}

html {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.scroll-snap-align {
  scroll-snap-align: start;
}

#home {
  height: 100vh;
  width: 100%;
  background: center/cover no-repeat url(/ressources/img/md/accueil-md.jpg);
}

#home .home-content {
  width: 80%;
  margin: 0 auto;
  padding-top: 200px;
  text-align: center;
}

#home .home-content p {
  max-width: 600px;
  margin: 0 auto;
}

#home .home-title {
  padding-bottom: 50px;
}

@media screen and (min-width: 992px) {
  #home {
    background-image: url(/ressources/img/accueil.jpg);
  }
}

.index-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
  background: center / cover no-repeat;
}

@media only screen and (min-width: 768px) {
  .index-section {
    position: relative;
  }
}

.index-section article {
  width: 80%;
  background-color: white;
  padding: 24px 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media only screen and (min-width: 768px) {
  .index-section article {
    position: absolute;
    width: 60%;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

@media only screen and (min-width: 768px) {
  .index-section .article-right {
    left: auto;
    right: -60%;
  }
}

@media only screen and (min-width: 768px) {
  .index-section .article-left {
    left: -60%;
    right: auto;
  }
}

.index-section .btn-plus {
  margin: 15px auto 0 auto;
  height: 40px;
  width: 40px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.index-section .btn-plus:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.index-section h2 {
  padding-bottom: 20px;
  text-align: center;
}

#team {
  background-image: url(/ressources/img/md/equipe-md.jpg);
}

@media screen and (min-width: 992px) {
  #team {
    background-image: url(/ressources/img/equipe.jpg);
  }
}

#work {
  background-image: url(/ressources/img/md/activites-md.jpg);
}

@media screen and (min-width: 992px) {
  #work {
    background-image: url(/ressources/img/activites.jpg);
  }
}

#news {
  background-image: url(/ressources/img/md/news-md.jpg);
}

@media screen and (min-width: 992px) {
  #news {
    background-image: url(/ressources/img/news.jpg);
  }
}

.event-container {
  background-color: #DFDFDF;
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px 24px 24px;
}

@media only screen and (min-width: 768px) {
  .event-container {
    padding-top: 100px;
  }
}

@media only screen and (min-width: 992px) {
  .event-container {
    padding-top: 110px;
  }
}

.event-items {
  border: solid 3px #39454B;
  border-radius: 6px;
  margin: 5px;
  padding: 10px;
  background-color: #fff;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.event-items:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.event-items img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.event-item1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}

h3 {
  background-color: #007e7e;
  border-radius: 12px;
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
}
/*# sourceMappingURL=main.css.map */