footer {
    padding: 30px 20px;
    background-color: #39454b;
    position: relative;
    bottom: 0;
    width: 100%;
    height:60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #B9B9BA;
    .social {

      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      gap: 15px;
    }
    img {
      height: 1.2rem;
      width: 1.2rem;
      transition: all .2s;
      &:hover {
        transform: scale(1.2);
      }
    }
    
  }