// Grille page Evenements
// 
.event-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: .5rem;
    justify-items: center;
    align-items: start;
    margin: 0;
    padding: 0;
    @media only screen and (max-width: 550px) {
        display: block; 
    }
}