.btn-form{
    background-color: #98c593;
    color: white;
    font-family: inherit;
    font-size: inherit;
    line-height: 3rem;
    border-radius: 2rem;
    width: 7rem;
    margin: 0 auto;
    border: none;
    transition-duration: 300ms;

    &:hover{
        background-color:  #a9cea4;
        transform: scale(1.1);
    }
    &:active{
    background-color: #71926e;
    transform: none;   
    }
}