html{
	scroll-snap-type: y mandatory;
}
.scroll-snap-align{
  scroll-snap-align: start;
}

#home {
  height: 100vh;
  width: 100%;
  background: center / cover no-repeat url(/ressources/img/md/accueil-md.jpg);

  .home-content {
    width: 80%;
    margin: 0 auto;
    padding-top: 200px;
    text-align: center;
    p{
        max-width: 600px;
        margin: 0 auto;
    }
  }
  .home-title {
    padding-bottom: 50px;
  }
  @media screen and (min-width: 992px) {
    background-image: url(/ressources/img/accueil.jpg);
  }
}

.index-section {  
  display: flex;
  align-items: center;
  justify-content: center;
  // position: relative;
  height: 100vh;
  width: 100%;
  background: center / cover no-repeat;
  @media only screen and (min-width: 768px) {
    position: relative;
  }
  article{
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);

    width: 80%;
    background-color: white;
    padding: 24px 20px;
    transition: all .5s;
    @media only screen and (min-width: 768px) {
      position: absolute;
      width: 60%;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
  .article-right{
    @media only screen and (min-width: 768px) {
      left: auto;
      right: -60%;
      // transform: translateY(-50%);
    }
  }
  .article-left{
    @media only screen and (min-width: 768px) {
      left: -60%;
      right: auto;
      // transform: translateY(-50%);
    }
  }
  // .in-from-right{
  //   transform: translateX(-60%);
  // }
  // .in-from-left{
  //   transform: translateX(60%);
  // }
  // .disappear{
  //   transform: translatex(0);
  // }
  
  .btn-plus {
    margin: 15px auto 0 auto;
    height: 40px;
    width: 40px;
    transition: all .2s;
    &:hover {
    transform: scale(1.2);}

  }
  h2 {
    padding-bottom: 20px;
    text-align: center;
  }
}
#team {
  background-image: url(/ressources/img/md/equipe-md.jpg);
  @media screen and (min-width: 992px) {
    background-image: url(/ressources/img/equipe.jpg);
  }
}
#work {
  background-image: url(/ressources/img/md/activites-md.jpg);
  @media screen and (min-width: 992px) {
    background-image: url(/ressources/img/activites.jpg);
  }
}
#news {
  background-image: url(/ressources/img/md/news-md.jpg);
  @media screen and (min-width: 992px) {
    background-image: url(/ressources/img/news.jpg);
  }
}
